#Node dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build outputs
build/
dist/
out/

# Temp files
temp/
tmp/
*.tmp
*.txt

# ENV
.env
*.env
.env.development
.env.production
.env.test

# OS-specific files
.DS_Store
Thumb.db

# Editior directories and settings
.vscode/
.idea/

